name: 01 - Building Blocks

on: push

jobs:
  echo-heelo:
       runs-on: ubuntu-latest
       steps:
        - name: hello world
          run: echo hello world

  echo-goodbye:
        runs-on: ubuntu-latest
        steps:
         - name: Failed step
           run: echo Goodbye!
                
         - name: Multi-line bash
           run: |
            echo "I am"
            echo "a multi-line"
            echo "script." 

  
