name: 02 - Workflow Events

on: push

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Show the trigger
              run: echo "its being triggered by a(n) ${{github.event_name}} event."

